@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$red: #D25E49;
$orange: #E08E33;
$dark: #272727;
$gray: #404040;
$white: #FFFFFF;
$black: #000000;
$graywhite: #DDDDDD;

$font: 'Roboto', sans-serif;

$tablet: 768px;
$desktop: 1024px;
